<template lang="html">
    <div>

    
       <table class="table">
        <thead>
            <th v-if="false">
                Id
            </th>

            <th>
                Hora
            </th>
            <th>
                Obra o institución
            </th>

            <th>
                Fecha de reporte
            </th>
            <th>
                Fecha de ejecución
            </th>
            <th>
                Mecanico
            </th>
                       
            <th rowspan="2">
                Acciones
            </th>
            
        </thead>
        <tbody>
        
            <mpreventivo-agregar v-on:enviarMpreventivo="crearMpreventivo"></mpreventivo-agregar>
        
           <mpreventivo-item :isEditable="true" v-for="mpreventivo in mpreventivos" :mpreventivo="mpreventivo" v-on:guardar-mpreventivo="refresh" v-on:borrar-mpreventivo="borrarMpreventivo"></mpreventivo-item>
            
        </tbody>

       </table>
        
   </div>
</template>

<script>
    export default {

        props:[ 'mpreventivos' ],

     
        
        
    
        methods: {
            

            refresh(){
                this.$parent.obtenerMpreventivos();
            },

        
            crearMpreventivo(mpreventivo){
                axios.post(window.location + '/mpreventivos', mpreventivo).then(response => {
                    this.mpreventivos.push(response.data);
                });
                
            },

            borrarMpreventivo(mpreventivo){

                axios.delete(window.location + '/mpreventivos/' + mpreventivo.mpreventivo_id).then(response => {
                    let index = this.mpreventivos.indexOf(mpreventivo);
                    this.mpreventivos.splice(index , 1);
                });
                
                
            },

        
        },
    }
</script>

<style lang="css">

    .table-hover td button{
        width: 100% !important;
    }
    .table-hover td input{
        width: 100%;
    }
    
</style>