
<template>
	<tr class="clicked-tr">
        <td v-if="false">
        
            {{ mpreventivo.mpreventivo_id }}
        </td>
        <td>
            <input type="text" v-model="editform.hora" v-if="edit" class="form-control">
            <span v-else="edit"><a v-show="isEditable" @click.prevent="moveTo"></a>
            {{ mpreventivo.hora }}
            </span>
        </td>
        <td>
            <input type="text" v-model="editform.obra_institucion" v-if="edit" class="form-control">
            <span v-else="edit">{{ mpreventivo.obra_institucion }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.fecha_reporte" v-if="edit" class="form-control">
            <span v-else="edit">{{ mpreventivo.fecha_reporte }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.fecha_ejecucion" v-if="edit" class="form-control">
            <span v-else="edit">{{ mpreventivo.fecha_ejecucion }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.mecanico" v-if="edit" class="form-control">
            <span v-else="edit">{{ mpreventivo.mecanico }}</span>
        </td>
       
        <td v-show="isEditable">
            <button v-if="!edit" class="btn btn-success" @click="editarmpreventivo"><i class="glyphicon glyphicon-pencil"></i></button>
            <button v-if="edit" class="btn btn-success" @click="guardarmpreventivo(mpreventivo , editform)" :disabled="!validate"><i class="glyphicon glyphicon-ok"></i></button>
        </td>
        <td v-show="isEditable">
            <button v-if="!edit" class="btn btn-danger" @click="borrarmpreventivo"><i class="glyphicon glyphicon-trash"></i></button>
            <button v-if="edit" class="btn btn-danger" @click="cancelarEditar"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
    </tr>
</template>
<script>
    export default {
        props: ['mpreventivo' , 'isEditable' ],
        data() {
            return {
                edit: false,
                editform: {
                    fecha_ejecucion: '',
                    fecha_reporte: '',
                    hora: '',
                    mecanico: '',
                    obra_institucion: '',
            
                }, 
            }
        },
        methods: {
           
            borrarmpreventivo(){

                this.$emit('borrar-mpreventivo' , this.mpreventivo);
                
                
            },
            editarmpreventivo(){
                this.edit = true;
                this.editform.hora = this.mpreventivo.hora;
                this.editform.obra_institucion = this.mpreventivo.obra_institucion;
                this.editform.fecha_reporte = this.mpreventivo.fecha_reporte;
                this.editform.fecha_ejecucion = this.mpreventivo.fecha_ejecucion;
                this.editform.mecanico = this.mpreventivo.mecanico;
                
            },
            cancelarEditar(){
            	this.edit = false;
                this.editform.hora = '';
                this.editform.obra_institucion = '';
                this.editform.fecha_reporte = '';
                this.editform.fecha_ejecucion = '';
                this.editform.mecanico = '';
        

            },
            guardarmpreventivo(oldmpreventivo, editform){

                axios.put(window.location +'/mpreventivos/' + oldmpreventivo.mpreventivo_id , editform).then(response => {
                    this.$emit('guardar-mpreventivo');
                    this.cancelarEditar();
                }).catch(error => {
                    console.log(error);
                });
                 
            },
            /*moveTo(){
                var currentlocation = window.location;
                window.location.href = currentlocation + "/" + this.mpreventivo.mpreventivo_id;
            }*/
        


        },
        computed : {
            validate(){
                if(this.editform.hora){
                    return true;
                }
                
    
            }
        }
    }
</script>
<style type="text/css">
    .clicked-tr:hover{
        cursor: pointer;
    }
</style>
