<template>
    <tr class="mpreventivo-agregar" >
        <td>
            <input type="text" v-model="newMpreventivo.hora" class="form-control" required>
        </td>
        <td>
            <input type="text" v-model="newMpreventivo.obra_institucion" required class="form-control">
        </td>
        <td>
            <input type="text" v-model="newMpreventivo.fecha_reporte" required class="form-control">
        </td>
        <td>
            <input type="text" v-model="newMpreventivo.fecha_ejecucion" required class="form-control">
        </td>
        <td>
           <input type="text" v-model="newMpreventivo.mecanico" required class="form-control">
        </td>
        <td>
            <button :disabled="!validate" class="btn btn-primary" @click="enviarMpreventivo"><i class="glyphicon glyphicon-plus"></i></button>
        </td>
    </tr>
</template>
    
<script>
    export default {
        data(){
            return {
                newMpreventivo : {
                    fecha_ejecucion: '',
                    fecha_reporte: '',
                    hora: '',
                    mecanico: '',
                    obra_institucion: '',
            
                },  
            }
        },
        methods: {
            enviarMpreventivo(){
                var aux = this.newMpreventivo;
                this.$emit('enviarMpreventivo',aux);
            
                this.newMpreventivo = {
                    fecha_ejecucion: '',
                    fecha_reporte: '',
                    hora: '',
                    mecanico: '',
                    obra_institucion: '',
            
                };
            },


        },
        computed : {
            validate(){
                return this.newMpreventivo.hora;
            }
        }
        
    }
</script>

<style type="text/css">
    .mprevventivo-agregar td{
        padding: 8px 3px  !important;
        vertical-align: center

    }

    .mprevventivo-agregar td input{
        width: 100%;
     }

</style>
