<template lang="html">
    <div>

    
       <table class="table">
        <thead>
            <th v-if="false">
                Id
            </th>

            <th>
                Hora
            </th>
            <th>
                Obra o institución
            </th>

            <th>
                Reporte de falla
            </th>
            <th>
                Nro de documento
            </th>
            <th>
                Mecanico
            </th>
            <th>
                fecha
            </th>           
            <th rowspan="2">
                Acciones
            </th>
            
        </thead>
        <tbody>
        
            <mcorrectivo-agregar v-on:enviarmcorrectivo="crearmcorrectivo"></mcorrectivo-agregar>
        
           <mcorrectivo-item :isEditable="true" v-for="mcorrectivo in mcorrectivos" :mcorrectivo="mcorrectivo" v-on:guardar-mcorrectivo="refresh" v-on:borrar-mcorrectivo="borrarmcorrectivo"></mcorrectivo-item>
            
        </tbody>

       </table>
        
   </div>
</template>

<script>
    export default {

        props:[ 'mcorrectivos' ],

     
        
        
    
        methods: {
            

            refresh(){
                this.$parent.obtenerMcorrectivos();
            },

        
            crearmcorrectivo(mcorrectivo){
                axios.post(window.location + '/mcorrectivos', mcorrectivo).then(response => {

                    this.mcorrectivos.push(response.data);
                });
                
            },

            borrarmcorrectivo(mcorrectivo){

                axios.delete(window.location + '/mcorrectivos/' + mcorrectivo.mcorrectivo_id).then(response => {
                    let index = this.mcorrectivos.indexOf(mcorrectivo);
                    this.mcorrectivos.splice(index , 1);
                });
                
                
            },

        
        },
    }
</script>

<style lang="css">

    .table-hover td button{
        width: 100% !important;
    }
    .table-hover td input{
        width: 100%;
    }
    
</style>