
<template>
	<tr class="clicked-tr">
        <td v-if="false">
        
            {{ mcorrectivo.mcorrectivo_id }}
        </td>
        <td>
            <input type="text" v-model="editform.hora" v-if="edit" class="form-control">
            <span v-else="edit"><a v-show="isEditable" @click.prevent="moveTo"></a>
            {{ mcorrectivo.hora }}
            </span>
        </td>
        <td>
            <input type="text" v-model="editform.obra_institucion" v-if="edit" class="form-control">
            <span v-else="edit">{{ mcorrectivo.obra_institucion }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.reporte_falla" v-if="edit" class="form-control">
            <span v-else="edit">{{ mcorrectivo.reporte_falla }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.nro_documento" v-if="edit" class="form-control">
            <span v-else="edit">{{ mcorrectivo.nro_documento }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.mecanico" v-if="edit" class="form-control">
            <span v-else="edit">{{ mcorrectivo.mecanico }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.fecha" v-if="edit" class="form-control">
            <span v-else="edit">{{ mcorrectivo.fecha }}</span>
        </td>
       
        <td v-show="isEditable">
            <button v-if="!edit" class="btn btn-success" @click="editarmcorrectivo"><i class="glyphicon glyphicon-pencil"></i></button>
            <button v-if="edit" class="btn btn-success" @click="guardarmcorrectivo(mcorrectivo , editform)" :disabled="!validate"><i class="glyphicon glyphicon-ok"></i></button>
        </td>
        <td v-show="isEditable">
            <button v-if="!edit" class="btn btn-danger" @click="borrarmcorrectivo"><i class="glyphicon glyphicon-trash"></i></button>
            <button v-if="edit" class="btn btn-danger" @click="cancelarEditar"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
    </tr>
</template>
<script>
    export default {
        props: ['mcorrectivo' , 'isEditable' ],
        data() {
            return {
                edit: false,
                editform: {
                    reporte_falla: '',
                    nro_documento: '',
                    hora: '',
                    mecanico: '',
                    obra_institucion: '',
                    fecha: '',
            
                }, 
            }
        },
        methods: {
           
            borrarmcorrectivo(){

                this.$emit('borrar-mcorrectivo' , this.mcorrectivo);
                
                
            },
            editarmcorrectivo(){
                this.edit = true;
                this.editform.hora = this.mcorrectivo.hora;
                this.editform.obra_institucion = this.mcorrectivo.obra_institucion;
                this.editform.reporte_falla = this.mcorrectivo.reporte_falla;
                this.editform.nro_documento = this.mcorrectivo.nro_documento;
                this.editform.mecanico = this.mcorrectivo.mecanico;
                this.editform.fecha = this.mcorrectivo.fecha;
                
            },
            cancelarEditar(){
            	this.edit = false;
                this.editform = {
                    reporte_falla: '',
                    nro_documento: '',
                    hora: '',
                    mecanico: '',
                    obra_institucion: '',
                    fecha: '',
            
                };
        

            },
            guardarmcorrectivo(oldmcorrectivo, editform){

                axios.put(window.location +'/mcorrectivos/' + oldmcorrectivo.mcorrectivo_id , editform).then(response => {
                    this.$emit('guardar-mcorrectivo');
                    this.cancelarEditar();
                }).catch(error => {
                    console.log(error);
                });
                 
            },
            /*moveTo(){
                var currentlocation = window.location;
                window.location.href = currentlocation + "/" + this.mcorrectivo.mcorrectivo_id;
            }*/
        


        },
        computed : {
            validate(){
                if(this.editform.hora){
                    return true;
                }
                
    
            }
        }
    }
</script>
<style type="text/css">
    .clicked-tr:hover{
        cursor: pointer;
    }
</style>
