<template>
    <tr class="mpreventivo-agregar" >
        <td>
            <input type="text" v-model="newMcorrectivo.hora" class="form-control" required>
        </td>
        <td>
            <input type="text" v-model="newMcorrectivo.obra_institucion" required class="form-control">
        </td>
        <td>
            <input type="text" v-model="newMcorrectivo.reporte_falla" required class="form-control">
        </td>
        <td>
            <input type="text" v-model="newMcorrectivo.nro_documento" required class="form-control">
        </td>
        <td>
           <input type="text" v-model="newMcorrectivo.mecanico" required class="form-control">
        </td>
        <td>
           <input type="text" v-model.date="newMcorrectivo.fecha" required class="form-control">
        </td>
        <td>
            <button :disabled="!validate" class="btn btn-primary" @click="enviarmcorrectivo"><i class="glyphicon glyphicon-plus"></i></button>
        </td>
    </tr>
</template>
    
<script>
    export default {
        data(){
            return {
                newMcorrectivo : {
                    reporte_falla: '',
                    nro_documento: '',
                    hora: '',
                    mecanico: '',
                    obra_institucion: '',
                    fecha: '',
            
                },  
            }
        },
        methods: {
            enviarmcorrectivo(){
                var aux = this.newMcorrectivo;
                this.$emit('enviarmcorrectivo',aux);
            
                this.newMcorrectivo = {
                    reporte_falla: '',
                    nro_documento: '',
                    hora: '',
                    mecanico: '',
                    obra_institucion: '',
                    fecha: '',
            
                };
            },


        },
        computed : {
            validate(){
                return this.newMcorrectivo.hora;
            }
        }
        
    }
</script>

<style type="text/css">
    .mprevventivo-agregar td{
        padding: 8px 3px  !important;
        vertical-align: center

    }

    .mprevventivo-agregar td input{
        width: 100%;
     }

</style>
