
<template>
	<tr >
        <td v-if="false">

            {{ consumible.consumible_id }}
        </td>
        <td>
            <input type="text" v-model="editform.descripcion" v-if="edit" class="form-control">
            <span v-else="edit">{{ consumible.descripcion }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.cantidad" v-if="edit" class="form-control">
            <span v-else="edit">{{ consumible.cantidad }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.unidad" v-if="edit" class="form-control">
            <span v-else="edit">{{ consumible.unidad }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.precio_unitario" v-if="edit" class="form-control">
            <span v-else="edit">{{ consumible.precio_unitario }}</span>
        </td>

        <td>
            <button v-if="!edit" class="btn btn-success" @click="editarConsumible"><i class="glyphicon glyphicon-pencil"></i></button>
            <button v-if="edit" class="btn btn-success" @click="guardarConsumible(consumible , editform)" :disabled="!validate"><i class="glyphicon glyphicon-ok"></i></button>
        </td>
        <td>
            <button v-if="!edit" class="btn btn-danger" @click="borrarConsumible"><i class="glyphicon glyphicon-trash"></i></button>
            <button v-if="edit" class="btn btn-danger" @click="cancelarEditar"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
    </tr>
</template>
<script>
    export default {
        props: ['consumible' ],
        data() {
            return {
                edit: false,
                editform: {
                    descripcion: '',
                    cantidad: '',
                    unidad: '',
                    precio_unitario: '',
                },
            }
        },
        methods: {

            borrarConsumible(){

                this.$emit('borrar-consumible' , this.consumible);


            },
            editarConsumible(){
                this.edit = true;
                this.editform.descripcion = this.consumible.descripcion;
                this.editform.cantidad = this.consumible.cantidad;
                this.editform.unidad = this.consumible.unidad;
                this.editform.precio_unitario = this.consumible.precio_unitario;
            },
            cancelarEditar(){
            	this.edit = false;
                this.editform.descripcion = '';
                this.editform.cantidad = '';
                this.editform.unidad = '';
                this.editform.precio_unitario = '';

            },
            guardarConsumible(oldConsumible, editform){

                axios.put('/consumibles/' + oldConsumible.consumible_id , editform).then(response => {
                    this.$emit('guardar-consumible');
                    this.cancelarEditar();
                }).catch(error => {
                    console.log(error);
                });

            }

        },
        computed : {
            validate(){
                if(this.editform.descripcion){
                    return true;
                }


            }
        }
    }
</script>