<template>
    <tr class="consumible-agregar">
        <td>
            <input type="text" v-model="newConsumible.descripcion" class="form-control" required>
        </td>
        <td>
            <input type="text" v-model="newConsumible.cantidad" required class="form-control">
        </td>
        <td>
            <input type="text" v-model="newConsumible.unidad" required class="form-control">
        </td>
        <td>
            <input type="dtext" v-model="newConsumible.precio_unitario" required class="form-control">
        </td>

        <td>
            <button :disabled="!validate" class="btn btn-primary" @click="enviarConsumible"><i class="glyphicon glyphicon-plus"></i></button>
        </td>

    </tr>
</template>

<script>
    export default {
        data(){
            return {
                newConsumible : {
                    descripcion: '',
                    cantidad: '',
                    unidad: '',
                    precio_unitario: '',
                },
            }
        },
        methods: {
            enviarConsumible(){
                this.$emit('enviarconsumible',this.newConsumible);
                this.newConsumible = {
                    descripcion: '',
                    cantidad: '',
                    unidad: '',
                    precio_unitario: '',
                };
            },


        },
        computed : {
            validate(){
                return this.newConsumible.descripcion;
            }
        }

    }
</script>

<style type="text/css">
    .consumible-agregar td{
        
        vertical-align: center

    }

    .consumible-agregar td input{
        width: 100%;
     }

</style>
