<template lang="html">
    <div>


       <table class="table">
        <thead>
            <th v-if="false">
                Id
            </th>
            <th>
                descripcion
            </th>
            <th>
                cantidad
            </th>
            <th>
                unidad
            </th>
            <th>
                precio unitario
            </th>
            <th rowspan="2">
                Acciones
            </th>

        </thead>
        <tbody>
            <consumible-agregar v-on:enviarconsumible="crearConsumible"></consumible-agregar>

           <consumible-item v-for="consumible in consumibles" :consumible="consumible" v-on:borrar-consumible="borrarConsumible" v-on:guardar-consumible="listaConsumibles"></consumible-item>

        </tbody>

       </table>

   </div>
</template>

<script>
    export default {
        data(){
            return {
                consumibles: [],
                consumible: {},
            }
        },


        created() {
            //alert(1);
            this.listaConsumibles();
        },

        methods: {
            listaConsumibles(){
                axios.get('/consumibles/list').then(response => {
                    console.log(response.data);
                    this.consumibles = response.data

                })
            },
            
            crearConsumible(consumible){
                axios.post('/consumibles', consumible).then(response => {
                    console.log(response.data);
                    this.consumibles.push(response.data);
                    this.consumible.descripcion = '';
                    this.consumible.cantidad = '';
                    this.consumible.unidad = '';
                    this.consumible.precio_unitario = '';
                });

            },

            borrarConsumible(consumible){

                axios.delete('/consumibles/' + consumible.consumible_id).then(response => {
                    let index = this.consumibles.indexOf(consumible);
                    this.consumibles.splice(index , 1);
                });


            },


        },
    }
</script>

<style lang="css">
    td button{
        width: 100% !important;
    }
    td input{
        width: 100%;
    }
</style>