
<template>
    <tr >
        <td v-if="false">
        
            {{ maquinaria.maquinaria_id }}
        </td>
        <td>
            <input type="text" v-model="editform.nro_de_registro" v-if="edit" class="form-control">
            <span v-else="edit"><a v-show="isEditable" style="cursor: pointer" @click.prevent="moveTo">{{ maquinaria.nro_de_registro }}</a><span v-show="!isEditable">{{ maquinaria.nro_de_registro }}</span></span>
        </td>
        <td>
            <input type="text" v-model="editform.foto" v-if="edit" class="form-control">
            <span v-else="edit">{{ maquinaria.foto }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.tipo" v-if="edit" class="form-control">
            <span v-else="edit">{{ maquinaria.tipo }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.modelo" v-if="edit" class="form-control">
            <span v-else="edit">{{ maquinaria.modelo }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.serie" v-if="edit" class="form-control">
            <span v-else="edit">{{ maquinaria.serie }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.horometro" v-if="edit" class="form-control">
            <span v-else="edit">{{ maquinaria.horometro }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.doc_asignacion" v-if="edit" class="form-control">
            <span v-else="edit">{{ maquinaria.doc_asignacion }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.marca" v-if="edit" class="form-control">
            <span v-else="edit">{{ maquinaria.marca }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.anio" v-if="edit" class="form-control">
            <span v-else="edit">{{ maquinaria.anio }}</span>
        </td>
        <td>
            <input type="text" v-model="editform.estado" v-if="edit" class="form-control">
            <span v-else="edit">{{ maquinaria.estado }}</span>
        </td>
        <td v-show="isEditable">
            <button v-if="!edit" class="btn btn-success" @click="editarMaquinaria"><i class="glyphicon glyphicon-pencil"></i></button>
            <button v-if="edit" class="btn btn-success" @click="guardarMaquinaria(maquinaria , editform)" :disabled="!validate"><i class="glyphicon glyphicon-ok"></i></button>
        </td>
        <td v-show="isEditable">
            <button v-if="!edit" class="btn btn-danger" @click="borrarMaquinaria"><i class="glyphicon glyphicon-trash"></i></button>
            <button v-if="edit" class="btn btn-danger" @click="cancelarEditar"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
    </tr>
</template>
<script>
    export default {
        props: ['maquinaria', 'isEditable' ],
        data() {
            return {
                edit: false,
                editform: {
                    marca: '',
                    modelo: '',
                    tipo: '',
                    nro_de_registro: '',
                    serie: '',
                    estado: '',
                    horometro: '',
                    doc_asignacion: '',
                    foto: '',
                    anio: '',
                }, 
            }
        },
        methods: {
           
            borrarMaquinaria(){
                this.$emit('borrar-maquinaria' , this.maquinaria);
                
                
            },
            editarMaquinaria(){
                this.edit = true;
                this.editform.nro_de_registro = this.maquinaria.nro_de_registro;
                this.editform.foto = this.maquinaria.foto;
                this.editform.tipo = this.maquinaria.tipo;
                this.editform.modelo = this.maquinaria.modelo;
                this.editform.serie = this.maquinaria.serie;
                this.editform.horometro = this.maquinaria.horometro;
                this.editform.doc_asignacion = this.maquinaria.doc_asignacion;
                this.editform.marca = this.maquinaria.marca;
                this.editform.anio = this.maquinaria.anio;
                this.editform.estado = this.maquinaria.estado;
            },
            cancelarEditar(){
                this.edit = false;
                this.editform.nro_de_registro = '';
                this.editform.foto = '';
                this.editform.tipo = '';
                this.editform.modelo = '';
                this.editform.serie = '';
                this.editform.horometro = '';
                this.editform.doc_asignacion = '';
                this.editform.marca = '';
                this.editform.anio = ''
                this.editform.estado = '';
            },
            guardarMaquinaria(oldMaquinaria, editform){
                axios.put('/maquinarias/' + oldMaquinaria.maquinaria_id , editform).then(response => {
                    this.$emit('guardar-maquinaria');
                    this.cancelarEditar();
                }).catch(error => {
                    console.log(error);
                });
                 
            },

            moveTo(){
                var currentLocation = window.location;
                window.location.href = currentLocation + "/" + this.maquinaria.maquinaria_id;
            }
        },
        computed : {
            validate(){
                if(this.editform.nro_de_registro){
                    return true;
                }
                
    
            }
        }
    }
</script>