
<template>
<div>

    
       <table class="table">
        <thead>
            <th v-if="false">
                Id
            </th>
            <th>
                Nro. de registro
            </th>
            <th>
                Foto
            </th>
            <th>
                Tipo
            </th>
            <th>
                Modelo
            </th>
            <th>
                Serie
            </th>
            <th>
                Horometro
            </th>
            <th>
                Documento de Asignación
            </th>
            <th>
                Marca
            </th>
            <th>
                Año
            </th>
            <th>
                Estado
            </th>
            
        </thead>
        <tbody>
        <maquinaria-item :maquinaria="maquinaria"></maquinaria-item>
    </tbody>
    </table>
   
    <div id="exTab2" class=""> 
    <ul class="nav nav-tabs">
                <li class="active">
            <a  href="#1" data-toggle="tab">Mantenimiento Preventivo</a>
                </li>
                <li><a href="#2" data-toggle="tab">Mantenimiento Correctivo</a>
                </li>
               
            </ul>

                <div class="tab-content ">

                  <div class="tab-pane active" id="1">
                    <p></p>
                    <p></p>
                    <mpreventivo-lista :mpreventivos="mpreventivos"></mpreventivo-lista>
                    </div>
                    <div class="tab-pane" id="2">
                    <p></p>
                    <p></p>
                    <mcorrectivo-lista :mcorrectivos="mcorrectivos"></mcorrectivo-l
                    </div>
          
      </div>
    </div>
</template>
<script>
    export default {
        props: [ 'isEditable' ],
        data() {
            return {
                maquinaria: '',
                mpreventivos: [],
                mcorrectivos: [],
             
            }
        },
        created(){
            this.obtenerMaquinaria();
            this.obtenerMpreventivos();
            this.obtenerMcorrectivos();
        },
        methods: {
            obtenerMaquinaria(){
                axios.get(window.location+ "/show").then(response => {
                    this.maquinaria = response.data;
                })
            },

            obtenerMpreventivos(){
                axios.get(window.location+ "/mpreventivos/list").then(response => {
                    this.mpreventivos = response.data;
                })
            },

            obtenerMcorrectivos(){
                axios.get(window.location+ "/mcorrectivos/list").then(response => {
                    console.log(response.data);
                    this.mcorrectivos = response.data;
                })
            },
        }
            
    }
</script>