<template>
    <tr class="maquinaria-agregar">
        <td>
            <input type="text" v-model="newMaquinaria.nro_de_registro" class="form-control" required>
        </td>
        <td>
            <input type="text" v-model="newMaquinaria.foto" required class="form-control">
        </td>
        <td>
            <input type="text" v-model="newMaquinaria.tipo" required class="form-control">
        </td>
        <td>
            <input type="text" v-model="newMaquinaria.modelo" required class="form-control">
        </td>
        <td>
           <input type="text" v-model="newMaquinaria.serie" required class="form-control">
        </td>
        <td>
           <input type="text" v-model="newMaquinaria.horometro" required class="form-control">
        </td>
        <td>
           <input type="text"  v-model="newMaquinaria.doc_asignacion" required class="form-control">
        </td>
        <td>
          <input type="text" v-model="newMaquinaria.marca" required class="form-control">
        </td>
        <td>
           <input type="text" v-model="newMaquinaria.anio" required class="form-control">
        <td>
            <input type="text" v-model="newMaquinaria.estado" required class="form-control">
        </td>
        <td>
            <button :disabled="!validate" class="btn btn-primary" @click="enviarMaquinaria"><i class="glyphicon glyphicon-plus"></i></button>
        </td>
    </tr>
</template>
    
<script>
    export default {
        data(){
            return {
                newMaquinaria : {
                    marca: '',
                    modelo: '',
                    tipo: '',
                    nro_de_registro: '',
                    serie: '',
                    estado: '',
                    horometro: '',
                    doc_asignacion: '',
                    foto: '',
                    anio: '',
                }, 
            }
        },
        methods: {
            enviarMaquinaria(){
                var aux = this.newMaquinaria;
                this.$emit('enviarmaquinaria',aux);
            
                this.newMaquinaria = {
                    marca: '',
                    modelo: '',
                    tipo: '',
                    nro_de_registro: '',
                    serie: '',
                    estado: '',
                    horometro: '',
                    doc_asignacion: '',
                    foto: '',
                    anio: '',
                };
            },
        },
        computed : {
            validate(){
                return this.newMaquinaria.nro_de_registro;
            }
        }
        
    }
</script>
<style type="text/css">
    .maquinaria-agregar td{
    
        vertical-align: center
    }
    .maquinaria-agregar td input{
        width: 100%;
     }
</style>