<template lang="html">
    <div>

    
       <table class="table">
        <thead>
            <th v-if="false">
                Id
            </th>
            <th>
                Nro. de registro
            </th>
            <th>
                Foto
            </th>
            <th>
                Tipo
            </th>
            <th>
                Modelo
            </th>
            <th>
                Serie
            </th>
            <th>
                Horometro
            </th>
            <th>
                Documento de Asignación
            </th>
            <th>
                Marca
            </th>
            <th>
                Año
            </th>
            <th>
                Estado
            </th>
            <th rowspan="2">
                Acciones
            </th>
            
        </thead>
        <tbody>
            <maquinaria-agregar v-on:enviarmaquinaria="crearMaquinaria"></maquinaria-agregar>
        
           <maquinaria-item :isEditable="true" v-for="maquinaria in maquinarias" :maquinaria="maquinaria" v-on:borrar-maquinaria="borrarMaquinaria" v-on:guardar-maquinaria="listaMaquinarias"></maquinaria-item>
            
        </tbody>

       </table>
        
   </div>
</template>

<script>
    export default {
        data(){
            return {
                maquinarias: [],
                maquinaria: {},
            }
        },
        
        
        created() {
            this.listaMaquinarias();
        },

        methods: {
            listaMaquinarias(){
                axios.get('/maquinarias/list').then(response => {
                    this.maquinarias = response.data
                })
            },
        
            crearMaquinaria(maquinaria){
                axios.post('/maquinarias', maquinaria).then(response => {
                    this.maquinarias.push(response.data);
                });
                
            },

            borrarMaquinaria(maquinaria){

                axios.delete('/maquinarias/' + maquinaria.maquinaria_id).then(response => {
                    let index = this.maquinarias.indexOf(maquinaria);
                    this.maquinarias.splice(index , 1);
                });
                
                
            },

        
        },
    }
</script>

<style lang="css">

    .table-hover td button{
        width: 100% !important;
    }
    .table-hover td input{
        width: 100%;
    }
    
</style>